.topbar {
  height: 60px;
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  box-sizing: border-box;
}

.topbar-left .menu-btn {
  font-size: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.topbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-box {
  width: 60%;
  max-width: 400px;
}

.search-box input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  outline: none;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.lang {
  font-size: 14px;
  cursor: pointer;
}

.icon {
  position: relative;
  cursor: pointer;
  font-size: 16px;
}


.profile img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}