.sidebar {
    padding: 20px 20px;
    background: #f0f1f3;
    width: 240px;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
    /* border-bottom: 1px solid #e5e7eb; */
    color: black;
}

.section {
    /* margin-bottom: px; */
    min-width: 220px;
    margin-top: 11px;
}

.title {
    font-size: 14px;
    color: #656668;
    margin-bottom: 8px;
   
}

.section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section ul li {
    padding: 10px 12px;
    font-family: "poppins" sans-serif;
    /* margin-bottom: 5px; */
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: #29303a;
    transition: 0.2s;
}

.section ul li:hover {
    background: #e5e7eb;
}