.smallcards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.small-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 18px;
  border: 1px solid #e5e7eb;

  display: flex;
  flex-direction: column;
  gap: 10px;

  transition: 0.2s;
}


.small-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}


.card-top {
  display: flex;
  justify-content: flex-start;
}

.icon-box {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
}

.small-title {
  font-size: 13px;
  color: #6b7280;
}

.small-value {
  font-size: 20px;
  font-weight: 600;
  color: #111827;
}


@media (max-width: 1024px) {
  .smallcards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 768px) {
  .smallcards-grid {
    grid-template-columns: 1fr;
    padding: 15px;
  }
}